.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  gap: 10px;
}

.child {
  width: 500px;
  height: 250px;
  -webkit-box-shadow: 0px 0px 36px 7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 36px 7px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 36px 7px rgba(0, 0, 0, 0.35);
}
